#指定git不能忽略的追踪文件
!.gitignore
!*.java
!*.properties
!*.yaml
!*.yml
!*.xml

#指定git忽略追踪下面目录
/workspace-sts/.metadata/*.*
.DS_Store
workspace-sts/.metadata/.log
workspace-sts/.metadata/.plugins/org.eclipse.core.resources/.projects/demo/.markers.snap
workspace-sts/.metadata/.plugins/org.eclipse.core.resources/.projects/demo/.syncinfo.snap
workspace-sts/.metadata/.plugins/org.eclipse.core.resources/.projects/rest-api-sample/.markers.snap
workspace-sts/.metadata/.plugins/org.eclipse.core.resources/.projects/rest-api-sample/.syncinfo.snap
workspace-sts/.metadata/.plugins/org.eclipse.core.resources/.projects/springboot_quick_in/.markers.snap
workspace-sts/.metadata/.plugins/org.eclipse.core.resources/.projects/springboot_quick_in/.syncinfo.snap
workspace-sts/.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
workspace-sts/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
workspace-sts/.metadata/.plugins/org.eclipse.core.resources/1.snap
workspace-sts/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
workspace-sts/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
workspace-sts/.metadata/.plugins/org.eclipse.jdt.core/1989427334.index
workspace-sts/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
workspace-sts/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
workspace-sts/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
workspace-sts/.metadata/.plugins/org.eclipse.m2e.core/nexus/5f125459165aadb2dd8821e1e02fb5d2/segments.gen
workspace-sts/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments.gen
workspace-sts/.metadata/.plugins/org.eclipse.m2e.core/workspaceState.ser
workspace-sts/.metadata/.plugins/org.eclipse.m2e.core/workspacestate.properties
workspace-sts/.metadata/.plugins/org.eclipse.m2e.jdt/rest-api-sample.container
workspace-sts/.metadata/.plugins/org.eclipse.m2e.jdt/springboot_quick_in.container
workspace-sts/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
workspace-sts/.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps
workspace-sts/.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties
